<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ZLM.Ingredients" value="Aehtril,Arkhana,Bacon,Big Gamy Ribs,Black Barracuda,Chaos Crystal,Cursed Queenfish,Dreamleaf,Fatty Bearsteak,Felhide,Felslate,Felwort,Fjarnskaggl,Foxflower,Highmountain Salmon,Infernal Brimstone,Lean Shank,Leyblood,Leylight Shard,Leystone Ore,Mossgill Perch,Runescale Koi,Shal'dorei Silk,Starlight Rose,Stonehide Leahter,Stormray,Stormscale,Wildfowl Egg"/>
    <add key="ZLM.Aehtril" value="3"/>
    <add key="ZLM.Arkhana" value="3"/>
    <add key="ZLM.Bacon" value="30"/>
    <add key="ZLM.Big Gamy Ribs" value="3"/>
    <add key="ZLM.Black Barracuda" value="3"/>
    <add key="ZLM.Chaos Crystal" value="30"/>
    <add key="ZLM.Cursed Queenfish" value="3"/>
    <add key="ZLM.Dreamleaf" value="3"/>
    <add key="ZLM.Fatty Bearsteak" value="3"/>
    <add key="ZLM.Felhide" value="30"/>
    <add key="ZLM.Felslate" value="6"/>
    <add key="ZLM.Felwort" value="30"/>
    <add key="ZLM.Fjarnskaggl" value="3"/>
    <add key="ZLM.Foxflower" value="3"/>
    <add key="ZLM.Highmountain Salmon" value="3"/>
    <add key="ZLM.Infernal Brimstone" value="30"/>
    <add key="ZLM.Lean Shank" value="3"/>
    <add key="ZLM.Leyblood" value="3"/>
    <add key="ZLM.Leylight Shard" value="10"/>
    <add key="ZLM.Leystone Ore" value="3"/>
    <add key="ZLM.Mossgill Perch" value="3"/>
    <add key="ZLM.Runescale Koi" value="3"/>
    <add key="ZLM.Shal'dorei Silk" value="3"/>
    <add key="ZLM.Starlight Rose" value="15"/>
    <add key="ZLM.Stonehide Leahter" value="3"/>
    <add key="ZLM.Stormray" value="3"/>
    <add key="ZLM.Stormscale" value="3"/>
    <add key="ZLM.Wildfowl Egg" value="3"/>
    <add key="ZLM.HotItems" value="Starlight Rose,Bacon,Fjarnskaggl"/>
    <add key="ZLM.Aehtril.Id" value="124101"/>
    <add key="ZLM.Arkhana.Id" value="124440"/>
    <add key="ZLM.Bacon.Id" value="133680"/>
    <add key="ZLM.Big Gamy Ribs.Id" value="124119"/>
    <add key="ZLM.Black Barracuda.Id" value="124112"/>
    <add key="ZLM.Chaos Crystal.Id" value="124442"/>
    <add key="ZLM.Cursed Queenfish.Id" value="124107"/>
    <add key="ZLM.Dreamleaf.Id" value="124102"/>
    <add key="ZLM.Fatty Bearsteak.Id" value="124118"/>
    <add key="ZLM.Felhide.Id" value="124116"/>
    <add key="ZLM.Felslate.Id" value="123919"/>
    <add key="ZLM.Felwort.Id" value="124106"/>
    <add key="ZLM.Fjarnskaggl.Id" value="124104"/>
    <add key="ZLM.Foxflower.Id" value="124103"/>
    <add key="ZLM.Highmountain Salmon.Id" value="124109"/>
    <add key="ZLM.Infernal Brimstone.Id" value="124444"/>
    <add key="ZLM.Lean Shank.Id" value="124117"/>
    <add key="ZLM.Leyblood.Id" value="124120"/>
    <add key="ZLM.Leylight Shard.Id" value="124441"/>
    <add key="ZLM.Leystone Ore.Id" value="123918"/>
    <add key="ZLM.Mossgill Perch.Id" value="124108"/>
    <add key="ZLM.Runescale Koi.Id" value="124111"/>
    <add key="ZLM.Shal'dorei Silk.Id" value="124437"/>
    <add key="ZLM.Starlight Rose.Id" value="124105"/>
    <add key="ZLM.Stonehide Leahter.Id" value="124113"/>
    <add key="ZLM.Stormray.Id" value="124110"/>
    <add key="ZLM.Stormscale.Id" value="124115"/>
    <add key="ZLM.Wildfowl Egg.Id" value="124121"/>
  </appSettings>
</configuration>